<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Tables</title>
	 <script>
	  $(document).ready(function(){
	  $("#addEntry").click(function () {
	  	document.getElementById('viewEntryFields').style.display = "block";
});
});
  </script>
   </head>
<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Tables</h1>
                </div>
                <!--End Page Header -->
            </div>
	    <!--Table-->
	            <div class="panel panel-primary">
	                <div class="panel-heading">
	                    <i class="fa fa-bar-chart-o fa-fw"></i>Message
	                </div>

	                <div class="panel-body">
	                    <div class="row">
	                        <div class="col-lg-12">
	                            <div class="table-responsive" style="overflow:scroll;">
	                                <table class="table table-bordered table-hover table-striped">
	                                    <thead>
	                                        <tr>
	                                            <th>Id</th>
	                                            <th>Type Id</th>
	                                            <th>Relation Id</th>
	                                            <th>Direction</th>
	                                            <th>DateTime</th>
	                                            <th>URL</th>
	                                            <th>SBDH Docid Instance Id</th>
	                                            <th>SBDH Docid DateTime</th>
	                                            <th>Message Creator Id</th>
	                                            <th>Trans Creator Id</th>
	                                            <th>Trans Cmd Dch Creator Id</th>
	                                            <th>Trans Cmd Dco Order Doc Status</th>
	                                            <th>Trans Cmd Dco Order Creation DateTime</th>
	                                            <th>Trans Cmd Dco Order Creator Id</th>
	                                            <th>Pre Proc URL</th>
	                                            <th>Post Proc URL</th>
	                                            <th>Prev Message URL</th>
	                                            <th>Post Message URL</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<% @message_table.each do |message| %>
	                                        <tr>
	                                            <td><%= message.msg_id %></td>
	                                            <td><%= message.msg_type_id %></td>
                                                <td><%= message.msg_relation_id %></td>  
                                                <td><%= message.msg_direction %></td>
                                                <td><%= message.msg_datetime %></td>
                                                <td><%= message.msg_url %></td> 
                                                <td><%= message.msg_sbdh_docid_instance_id %></td>
                                                <td><%= message.msg_sbdh_docid_datetime %></td>
                                                <td><%= message.msg_msg_creator_id %></td>
                                                <td><%= message.msg_trans_creator_id %></td>
                                                <td><%= message.msg_trans_cmd_dch_creator_id %></td>
                                                <td><%= message.msg_trans_cmd_dco_order_doc_status %></td>
                                                <td><%= message.msg_trans_cmd_dco_order_creation_datetime %></td>
                                                <td><%= message.msg_trans_cmd_dco_order_creator_id %></td>
                                                <td><%= message.msg_pre_proc_url %></td>
                                                <td><%= message.msg_post_proc_url %></td>
                                                <td><%= message.msg_prev_msg_url %></td>
                                                <td><%= message.msg_post_msg_url %></td>
	                                        </tr>	
	                                        <% end %>                                       
	                                    </tbody>
	                                </table>
	                            </div>
	                            <div>
	                             	<button id="addEntry" type="button" class="btn btn-primary">Add New Entry</button>
	                            </div>
	                            <br>
	                             <div id="viewEntryFields" style="display:none;overflow:scroll;" class="table-responsive">
	                             	<form role="form" action="createNewMessage">
                                		<input id="msgId" style='width:auto' name="msgId" class="form-control" placeholder="Enter id">
                                		<br>
                                		<input id="msgTypeId" style='width:auto' name="msgTypeId" class="form-control" placeholder="Enter Type Id">
                                		<br>
                                		<input id="msgRelationId" style='width:auto' name="msgRelationId" class="form-control" placeholder="Enter Relation Id">
                                    	<br>
                                		<input id="msgDirection" style='width:auto' name="msgDirection" class="form-control" placeholder="Enter Message Direction">
                                		<br>
                                		<input id="msgDateTime" style='width:auto' name="msgDateTime" class="form-control" placeholder="Enter DateTime">
                                		<br>
                                		<input id="msgUrl" style='width:auto' name="msgUrl" class="form-control" placeholder="Enter URL">
                                		<br>
                                		<input id="msgSbdhDocidInstanceId" style='width:auto' name="msgSbdhDocidInstanceId" class="form-control" placeholder="Enter SBDH Docid Instance Id">
                                		<br>
                                		<input id="msgSbdhDocidDateTime" style='width:auto' name="msgSbdhDocidDateTime" class="form-control" placeholder="Enter SBDH Docid DateTime">
                                		<br>
                                		<input id="msgCreatorId" style='width:auto' name="msgCreatorId" class="form-control" placeholder="Enter Message Creator Id">
                                		<br>
                                		<input id="msgTransCreatorId" style='width:auto' name="msgTransCreatorId" class="form-control" placeholder="Enter Trans Creator Id">
                                		<br>
                                		<input id="msgTransCmdDchCreatorId" style='width:auto' name="msgTransCmdDchCreatorId" class="form-control" placeholder="Enter Trans Cmd Dch Creator Id">
                                		<br>
                                		<input id="msgTransCmdDcoOrderDocStatus" style='width:auto' name="msgTransCmdDcoOrderDocStatus" class="form-control" placeholder="Enter Trans Cmd Dco Order Doc Status">
                                		<br>
                                		<input id="msgTransCmdDcoOrderDocCreationDateTime" style='width:auto' name="msgTransCmdDcoOrderDocCreationDateTime" class="form-control" placeholder="Enter Trans Cmd Dco Order Creation DateTime">
                                		<br>
                                		<input id="msgTransCmdDcoOrderDocCreatorId" style='width:auto' name="msgTransCmdDcoOrderDocCreatorId" class="form-control" placeholder="Enter Trans Cmd Dco Order Creator Id">
                                		<br>
                                		<input id="msgPreProcUrl" style='width:auto' name="msgPreProcUrl" class="form-control" placeholder="Enter Pre Proc URL">
                                		<br>
                                		<input id="msgPostProcUrl" style='width:auto' name="msgPostProcUrl" class="form-control" placeholder="Enter Post Proc URL">
                                		<br>
                                		<input id="msgPrevMsgUrl" style='width:auto' name="msgPrevMsgUrl" class="form-control" placeholder="Enter Prev Message URL">
                                		<br>
                                		<input id="msgPostMsgUrl" style='width:auto' name="msgPostMsgUrl" class="form-control" placeholder="Enter Post Message URL">
                                		<br>
		                                <input id="saveEntry" style='width:auto' value="Save" type="Submit" class="btn btn-success"></input>
	                            	</form>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- /.row -->
	                </div>
	                <!-- /.panel-body -->
	            </div>
	            <!--End of Table-->
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

</body>

</html>