<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Tables</title>
    <!-- Core CSS - Include with every page -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	 <script>
	  $(document).ready(function(){
	  $("#addEntry").click(function () {
	  	document.getElementById('viewEntryFields').style.display = "block";
});
});
  </script>
   </head>
<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Tables</h1>
                </div>
                <!--End Page Header -->
            </div>
	    <!--Table-->
	            <div class="panel panel-primary">
	                <div class="panel-heading">
	                    <i class="fa fa-bar-chart-o fa-fw"></i>Business Process
	                </div>

	                <div class="panel-body">
	                    <div class="row">
	                        <div class="col-lg-12">
	                            <div class="table-responsive">
	                                <table class="table table-bordered table-hover table-striped">
	                                    <thead>
	                                        <tr>
	                                            <th>BP Id</th>
	                                            <th>BP Name</th>
	                                            <th>BP Buyer Authority</th>
	                                            <th>BP Buyer Authority Version</th>
	                                            <th>BP Supplier Authority</th>
	                                            <th>BP Supplier Authority Version</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<% @business_process_table.each do |bp| %>
	                                        <tr>
	                                            <td><%= bp.bp_id %></td>
	                                            <td><%= bp.bp_name %></td>
                                                <td><%= bp.bp_buyer_authority %></td> 
                                                <td><%= bp.bp_buyer_authority_version %></td>
	                                            <td><%= bp.bp_supplier_authority %></td>
                                                <td><%= bp.bp_supplier_authority_version %></td> 
	                                        </tr>	
	                                        <% end %>                                       
	                                    </tbody>
	                                </table>
	                            </div>
	                            <div>
	                             	<button id="addEntry" type="button" class="btn btn-primary">Add New Entry</button>
	                            </div>
	                            <br>
	                             <div id="viewEntryFields" style="display:none;" class="table-responsive">
	                             	<form role="form" action="createNewBusinessProcess">
		                                <table class="table table-bordered table-hover table-striped">
		                                    <tbody>
		                                        <tr>
		                                            <td>
	                                            		<input id="bpId" name="bpId" class="form-control" placeholder="Enter BP Id">
	                                        		</td>
	                                        		<td>
	                                            		<input id="bpName" name="bpName" class="form-control" placeholder="Enter BP Name">
	                                        		</td>
	                                        		<td>
	                                            		<input id="bpBuyerAuthority" name="bpBuyerAuthority" class="form-control" placeholder="Enter BP Buyer Authority">
	                                        		</td>
	                                        		<td>
	                                            		<input id="bpBuyerAuthorityVersion" name="bpBuyerAuthorityVersion" class="form-control" placeholder="Enter BP Buyer Authority Version">
	                                        		</td>
	                                        		<td>
	                                            		<input id="bpSupplierAuthority" name="bpSupplierAuthority" class="form-control" placeholder="Enter BP Supplier Authority">
	                                        		</td>
	                                        		<td>
	                                            		<input id="bpSupplierAuthorityVersion" name="bpSupplierAuthorityVersion" class="form-control" placeholder="Enter BP Supplier Authority Version">
	                                        		</td>
		                                        </tr>	                                    
		                                    </tbody>
		                                </table>
		                                <input id="saveEntry" value="Save" type="Submit" class="btn btn-success"></input>
	                            	</form>
	                            </div>
	                            

	                        </div>

	                    </div>
	                    <!-- /.row -->
	                </div>
	                <!-- /.panel-body -->
	            </div>
	            <!--End of Table-->
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

</body>

</html>