<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Tables</title>
    <!-- Core CSS - Include with every page -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	 <script>
	  $(document).ready(function(){
	  $("#addEntry").click(function () {
	  	document.getElementById('viewEntryFields').style.display = "block";
});
});
  </script>
   </head>
<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Tables</h1>
                </div>
                <!--End Page Header -->
            </div>
	    <!--Table-->
	            <div class="panel panel-primary">
	                <div class="panel-heading">
	                    <i class="fa fa-bar-chart-o fa-fw"></i>Sender Receiver Contact
	                </div>

	                <div class="panel-body">
	                    <div class="row">
	                        <div class="col-lg-12">
	                            <div class="table-responsive">
	                                <table class="table table-bordered table-hover table-striped">
	                                    <thead>
	                                        <tr>
	                                            <th>Contact Id</th>
	                                            <th>Contact Gln</th>
	                                            <th>Contact Name</th>
	                                            <th>Contact Email</th>
	                                            <th>Contact Fax</th>
	                                            <th>Contact Phone</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<% @sender_receiver_contact_table.each do |contact| %>
	                                        <tr>
	                                            <td><%= contact.contact_id %></td>
	                                            <td><%= contact.contact_gln %></td>
                                                <td><%= contact.contact_name %></td>  
                                                <td><%= contact.contact_email %></td>
	                                            <td><%= contact.contact_fax %></td>
                                                <td><%= contact.contact_phone %></td>  
	                                        </tr>	
	                                        <% end %>                                       
	                                    </tbody>
	                                </table>
	                            </div>
	                            <div>
	                             	<button id="addEntry" type="button" class="btn btn-primary">Add New Entry</button>
	                            </div>
	                            <br>
	                             <div id="viewEntryFields" style="display:none;" class="table-responsive">
	                             	<form role="form" action="createNewSenderReceiverContact">
                                		<input id="contactId" name="contactId" class="form-control" placeholder="Enter Id">
                            			<br>
                                		<input id="contactGln" name="contactGln" class="form-control" placeholder="Enter Gln">
	                            		<br>
                                		<input id="contactName" name="contactName" class="form-control" placeholder="Enter Name">
	                                	<br>
                                		<input id="contactEmail" name="contactEmail" class="form-control" placeholder="Enter Email">
                            			<br>
                                		<input id="contactFax" name="contactFax" class="form-control" placeholder="Enter Fax">
	                            		<br>
                                		<input id="contactPhone" name="contactPhone" class="form-control" placeholder="Enter Phone">
 										<br.
		                                <input id="saveEntry" value="Save" type="Submit" class="btn btn-success"></input>
	                            	</form>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- /.row -->
	                </div>
	                <!-- /.panel-body -->
	            </div>
	            <!--End of Table-->
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

</body>

</html>