<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Functions</title>
    <!-- Core CSS - Include with every page -->
   </head>
<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">List of Companies</h1>
                </div>
                <!--End Page Header -->
            </div>
	    <!--Table-->
	            <div class="panel panel-primary">
	                <div class="panel-heading">
	                    <i class="fa fa-bar-chart-o fa-fw"></i>Trading Partners
	                </div>

	                <div class="panel-body">
	                    <div class="row">
	                        <div class="col-lg-12">
	                            <div class="table-responsive">
	                                <table class="table table-bordered table-hover table-striped">
	                                    <thead>
	                                        <tr>
	                                            <th>Id</th>
	                                            <th>Name</th>
	                                            <th>Status Id</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr>
	                                            <td><%= @company_table[0].company_id %></td>
	                                            <td><%= @company_table[0].company_name %></td>
                                                <td><%= @company_table[0].company_status_id %></td>   
	                                        </tr>
                                            <tr>
                                                <td><%= @company_table[1].company_id %></td>
                                                <td><%= @company_table[1].company_name %></td>
                                                <td><%= @company_table[1].company_status_id %></td>   
                                            </tr>
                                            <tr>
                                                <td><%= @company_table[2].company_id %></td>
                                                <td><%= @company_table[2].company_name %></td>
                                                <td><%= @company_table[2].company_status_id %></td>   
                                            </tr>
	                                       
	                                    </tbody>
	                                </table>
	                            </div>

	                        </div>

	                    </div>
	                    <!-- /.row -->
	                </div>
	                <!-- /.panel-body -->
	            </div>
	            <!--End of Table-->
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

</body>

</html>
